<!doctype html>
{%load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Story9</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style5.css' %}"> 
    </head>
    <body style="background-color: #f2f2f2;">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #56ccf2;">
            <a class="navbar-brand" href="{% url 'main:home' %}"><img src="{% static 'story3/home.png' %}" style="width:42px;height:42px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'main:biodata' %}">Biodata</a>
                    <a class="nav-link" href="{% url 'main:pengalaman' %}">Pengalaman</a>
                    <a class="nav-link" href="{% url 'main:pendidikan' %}">Pendidikan</a>
                    <a class="nav-link" href="{% url 'main:story1' %}">Story 1</a>
                    <a class="nav-link" href="{% url 'main:jadwal' %}">Jadwal</a>
                    <a class="nav-link" href="{% url 'story6:kegiatan' %}">Kegiatan</a>
                    <a class="nav-link" href="{% url 'story7:story7' %}">Story7</a>
                    <a class="nav-link" href="{% url 'story8:story8' %}">Story8</a>
                    <a class="nav-link" href="{% url 'story9:story9' %}">Story9</a>
                </div>
            </div>
            <div class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'story9:story9' %}">USERNAME</a>
                {% else %}
                <a class="nav-link" href="{% url 'story9:login' %}">Log in</a>
                <a class="nav-link" href="{% url 'story9:register' %}">Register</a>
                {% endif %}
            </div>
        </nav>
        

        <center>
            <h1 class = "jarak">Login</h1>
        </center>

        <div class="mx-5">
            <form method="post">
                {% csrf_token %}
                Username
                <div class="form-group"><input class="form-control" type="text" name = "username"></div>
                Password
                <div class="form-group"><input class="form-control" type="password" name = "password"></div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>

        {% if messages %}
            {% for message in messages %}
            <center>
                <h3> {{ message|safe }} </h3>
            </center>
            {% endfor %}
        {% endif %}


        <div class = "jarakb"></div>
        <nav class="navbar fixed-bottom justify-content-center navbar-light jaraka" style="background-color: #2d9cdb;">
            <a class = "jarakkk" href="https://www.instagram.com/faustaadp/"><img src="{% static 'story3/ig.png' %}" style="width:56px;height:56px;"></a>
            <a class = "jarakkk" href="https://twitter.com/FaustaAD"><img src="{% static 'story3/tw.png' %}" style="width:56px;height:56px;"></a>
            <a class = "jarakkk" href="https://www.facebook.com/fausta.ad/"><img src="{% static 'story3/fb.png' %}" style="width:56px;height:56px;"></a>
        </nav>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>