{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
{% block head %}
<title>Story7</title>
{% endblock %}
<center>
	<h1 class = "jarak">Story 7</h1>
</center>
<div class="accordion px-5" id="accordionExample">
	{% for judul, isi in contents %}
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">
					<button class="btn accordion-btn" type="button" id="judul-{{ forloop.counter }}" data-body="isi-{{ forloop.counter }}" >
						<h5>{{ judul }}</h5>
					</button>
					<div class="btn-group float-right px-1">
						<button class="btn btn-primary" onclick="tukarbawah({{forloop.counter}})">&#x25BC;</button>
					</div>
					<div class="btn-group float-right px-1">
						<button class="btn btn-primary" onclick="tukaratas({{forloop.counter}})">&#x25B2;</button>
					</div>
				</h2>
			</div>

			<div id="isi-{{ forloop.counter }}" class="collapse" data-parent="#accordionExample">
				<div class="card-body">
					{% for isinya in isi %}
					<li> {{isinya}} </li>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block tambahjs %}
<script src="{% static 'story7/js/script.js' %}"></script>
{% endblock %}