{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
<title>Jadwal</title>
<center>
	<h1 class = "jarak">
		{{kegiatan.nama}}
		<a type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger">Hapus</a>
	</h1>
</center>
<div class = "mx-5">
	<h3>Deskripsi</h3>
	<h4>{{kegiatan.deskripsi}}</h4>
</div>
</br>
<div class = "mx-5">
	<h3>
		Peserta
		<a class="btn btn-primary" href = "{% url 'story6:tambah_peserta' kegiatan.id %}">Tambah</a>
	</h3>
	<table class="table table-hover table-responsive-sm .table-borderless">
	{% for pst in peserta %}
		{% if pst.kegiatan == kegiatan %}
		<tr>
			<th>
				<h5>
					{{pst.nama}}
				</h5>
			</th>
			<th class = "text-right">
				<a type="button" href = "{% url 'story6:hapus_peserta' pst.id %}" class="btn btn-danger">Hapus</a>
			</th>
		</tr>
		{% endif %}
	{% endfor %}
	</table>
</div>

</br>
<center>
	<a type="button" href = "{% url 'story6:kegiatan' %}" class="btn btn-primary">Kembali</a>
</center>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title" id="exampleModalLabel">Peringatan</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="modal-title" id="exampleModalLabel">Apakah anda yakin untuk mengapus kegiatan {{kegiatan.nama}} ?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Tidak</button>
				<a type="button" href = "{% url 'story6:hapus_kegiatan' kegiatan.id %}" class="btn btn-danger">Hapus</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}