{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
<title>Kegiatan</title>
<center>
	<h1 class = "jarak">Kegiatan</h1>
</center>
<div class="row row-cols-1 row-cols-md-3 m-5">
	{% for kgt in kegiatan %}
	<div class="col mb-4">
		<div class="card">
			<div class="card-body">
				<h3 class = "text-center"> 
					<a class="card-title text-center" href = "{% url 'story6:detail_kegiatan' kgt.id %}">{{kgt.nama}}</a>
				</h3>
				{% for pst in peserta %}
					{% if pst.kegiatan == kgt %}
					<h5>
						<li> {{pst.nama}} </li>
					</h5>
					{% endif %}
				{% endfor %}
				<div class = "text-center m-3"> 
					<a class="btn btn-primary" href="/tambah_peserta/{{kgt.id}}">Tambah Peserta</a>
				</div>
			</div>
		</div>
	</div>
	
{% endfor %}
</div>
<center>
	<a type="button" href = "{% url 'story6:tambah_kegiatan' %}" class="btn btn-primary">Tambah</a>
</center>



{% endblock %}