{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
<title>Tambah</title>
<center>
	<h1 class = "jarak">Tambah Kegiatan</h1>
</center>
<form class = "ml-5 mr-5 mt-2" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<label for="nama">Nama Kegiatan</label> {{form.nama}}
	</div>
	<div class="form-group">
		<label for="deskripsi">Deskripsi</label> {{form.deskripsi}}
	</div>
	<center>
		<button type="submit" class="btn btn-primary">Submit</button>
	</center>
</form>
{% endblock %}