.jarak{ 
	margin-top: 10px; 
	margin-right: 10px; 
	margin-left: 10px; 
	margin-bottom: 10px; 
} 
.jarakdk{ 
	margin-top: 3px; 
	margin-right: 10px; 
	margin-left: 10px; 
	margin-bottom: 3px; 
} 
.jarakt{ 
	margin-top: 20px; 
	margin-right: 10px; 
	margin-left: 10px; 
	margin-bottom: 20px; 
} 
.jaraktm{ 
	margin-top: 20px; 
	padding-left: 50px; 
	padding-right: : 50px; 
	margin-bottom: 20px; 
} 
.jarakbut{ 
	margin-top: 20px; 
	margin-right: 50px; 
	margin-left: 50px; 
	margin-bottom: 20px; 
} 
.jarakkk{ 
	margin-right: 10px; 
	margin-left: 10px; 
} 
.jaraka{ 
	margin-top: 20px; 
} 
.jaraka2{ 
	margin-top: 100px; 
} 
.jarakb{ 
	margin-bottom: 100px; 
} 
.besar{
	width: 200px;
	font-size: 24px;
}
.tengah{
	margin-left: auto;
  	margin-right: auto;
}