{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Story8</title>
{% endblock %}
{% block content %}
<center>
    <h1 class = "jarak">Story 8</h1>
</center>
</br>
<div class="input-group mb-3 px-5">
    <input id = "keyword" class="form-control" type="text" class="form-control" placeholder="Masukkan judul buku" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button id = "cari" class="btn btn-outline-primary" type="button" id="button-addon2">Cari</button>
    </div>
</div>
<ol id="list">
</ol>
<script type="text/javascript">
    function cari() {
    var isi = $("#keyword").val();
    $.ajax({
        url : '/story8/data?q=' + isi,
        success: function(data){
            var array_items = data.items;
            console.log(array_items);
            $("#list").empty();
            for(i = 0; i < array_items.length; i++)
            {
                var judul = array_items[i].volumeInfo.title;
                var authors = array_items[i].volumeInfo.authors;
                var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                $("#list").append(
                    '<div class="card mr-4">' + 
                    '<div class="card-header">' + 
                        '<h4>' + judul + '</h4>' +  
                        'oleh : ' + authors + 
                    '</div>' + 
                        '<div class="card-body">' + 
                            '<img src =' + gambar + '>' +
                        '</div>' + 
                    '</div>' + 
                    
                    '</br>'
                    );
            }
        }
    })
}
$("#cari").click(cari);
$('#keyword').keyup(function(e){
    if(e.keyCode == 13) 
        cari();
});

</script>
{% endblock %}