{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
<title>Biodata</title>
<h1 style="text-align:center"; class = "jarak"> Biodata </h1>
<div class="container">
	<div class="row">
		<div class="col">
			<center>
				<img src="{% static 'story3/faus.png' %}" width="290" height="385">
			</center>
		</div>
		<div class="col-7">
			<h3 class = "jarakt">Nama : Raden Fausta Anugrah Dianparama</h3>
			<h3 class = "jarakt">Perguruan Tinggi : Universitas Indonesia</h3>
			<h3 class = "jarakt">Fakultas : Ilmu Komputer</h3>
			<h3 class = "jarakt">Jurusan : Ilmu Komputer</h3>
			<h3 class = "jarakt">Angkatan : 2019</h3>
			<h3 class = "jarakt">NPM : 1906285560</h3>
			<h3 class = "jarakt">Hobi : Competitive Programming</h3>
		</div>
	</div>
</div>
{% endblock %}