{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
<title>Jadwal</title>
<center>
	<h1 class = "jarak">{{jadwal.nama}}</h1>
</center>
<div class = "m-5">
	<table class="table table-bordered">
		<tbody>
	  	<tr>
			<th>SKS</th>
			<td>{{jadwal.sks}}</td>
		</tr>
		<tr>
			<th>Dosen</th>
			<td>{{jadwal.dosen}}</td>
		</tr>
		<tr>
			<th>Deskripsi</th>
			<td>{{jadwal.deskripsi}}</td>
		</tr>
		<tr>
			<th>Semester</th>
			<td>{{jadwal.semester}}</td>
		</tr>
		<tr>
			<th>Tahun</th>
			<td>{{jadwal.tahun}}</td>
		</tr>
		<tr>
			<th>Ruang</th>
			<td>{{jadwal.ruang}}</td>
		</tr>
	  </tbody>
	</table>
</div>
<center>
	<a type="button" href = "{% url 'main:jadwal' %}" class="btn btn-primary">Kembali</a>
</center>

{% endblock %}