{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
<title>Fausta</title>
<center>
	<h1 class = "jarak">Raden Fausta Anugrah Dianparama</h1>
	<img src="{% static 'story3/TH46.png' %}" class="jarak" width="300" height="300">
</center>
<center>
	<div>
		<a type="button" href = "{% url 'main:biodata' %}" class="btn btn-primary jarak besar">Biodata</a>
		<a type="button" href = "{% url 'main:pengalaman' %}" class="btn btn-primary jarak besar">Pengalaman</a>
		<a type="button" href = "{% url 'main:pendidikan' %}" class="btn btn-primary jarak besar">Pendidikan</a>
	</div>
	<div>
		<a type="button" href = "{% url 'main:story1' %}" class="btn btn-primary jarak besar">Story 1</a>
		<a type="button" href = "{% url 'main:jadwal' %}" class="btn btn-primary jarak besar">Jadwal</a>
		<a type="button" href = "{% url 'story6:kegiatan' %}" class="btn btn-primary jarak besar">Kegiatan</a>
	</div>
	<div>
		<a type="button" href = "{% url 'story7:story7' %}" class="btn btn-primary jarak besar">Story 7</a>
		<a type="button" href = "{% url 'story8:story8' %}" class="btn btn-primary jarak besar">Story 8</a>
		<a type="button" href = "{% url 'story9:story9' %}" class="btn btn-primary jarak besar">Story 9</a>
	</div>
</center>
{% endblock %}