{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
<title>Jadwal</title>
<center>
	<h1 class = "jarak">Jadwal</h1>
</center>
<div class = "m-5">
	<table class="table table-striped table-hover table-bordered table-responsive-sm">
		<thead class="thead-dark">
		    <tr>
				<th scope="col">Mata Kuliah</th>
				<th scope="col">SKS</th>
				<th scope="col">Dosen</th>
				<th scope="col">Ruang</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
	  	{% for jdw in jadwal %}
		  	<tr>
				<th>
					<a href = "{% url 'main:detail' jdw.id %}">
						{{jdw.nama}}
					</a>
				</th>
				<td>{{jdw.sks}}</td>
				<td>{{jdw.dosen}}</td>
				<td>{{jdw.ruang}}</td>
				<td>
					<center>
						<a type="button" href = "{% url 'main:hapus' jdw.id %}" class="btn btn-danger">Hapus</a>
					</center>
				</td>
			</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
<center>
	<a type="button" href = "{% url 'main:tambah' %}" class="btn btn-primary">Tambah</a>
</center>

{% endblock %}