{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<title>Pendidikan</title>
<h1 style="text-align:center"; class = "jarak"> Pendidikan </h1>
<div class="container">
	<div class="row">
		<div class="col">
			<center>
				<h3 class = "jarak">SD</h3>
				<img class = "jarak" src="{% static 'story3/lw.png' %}" width="180" height="180">
				<h4 class = "jarak">SD Negeri Lempuyangwangi</h4>
				<h4 class = "jarak">(2007 - 2013)</h4>
			</center>
		</div>
		<div class="col">
			<center>
				<h3 class = "jarak">SMP</h3>
				<img class = "jarak" src="{% static 'story3/smp1.png' %}" width="180" height="180">
				<h4 class = "jarak">SMP Negeri 1 Yogyakarta</h4>
				<h4 class = "jarak">(2013 - 2016)</h4>
			</center>
		</div>
		<div class="col">
			<center>
				<h3 class = "jarak">SMA</h3>
				<img class = "jarak" src="{% static 'story3/sma1.png' %}" width="180" height="180">
				<h4 class = "jarak">SMA Negeri 1 Yogyakarta</h4>
				<h4 class = "jarak">(2016 - 2019)</h4>
			</center>
		</div>
		<div class="col">
			<center>
				<h3 class = "jarak">Perguruan Tinggi</h3>
				<img class = "jarak" src="{% static 'story3/ui.png' %}" width="180" height="180">
				<h4 class = "jarak">Universitas Indonesia</h4>
				<h4 class = "jarak">(2019 - Sekarang)</h4>
			</center>
		</div>
	</div>
</div>
{% endblock %}