{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<title>Pengalaman</title>
<h1 style="text-align:center"; class = "jarak"> Pengalaman </h1>
<div class="container">
	<div class="row">
		<div class="col-8">
			<h3 class = "jarakt">Kepanitiaan</h3>
			<h4 class = "jaraktm">Scientific Committee CPC Compfest 12</h4>
			<h3 class = "jarakt">Prestasi</h3>
			<h4 class = "jaraktm">Medali Perak IOI 2019</h4>
			<h4 class = "jaraktm">Medali Perunggu APIO 2019</h4>
			<h4 class = "jaraktm">Medali Emas NOI Singapore 2019</h4>
			<h4 class = "jaraktm">Medali Perak OSN 2017</h4>
		</div>
		<div class="col">
			<center>
				<img class = "jarakdk" src="{% static 'story3/faus2.png' %}" width="270" height="180">
				<img class = "jarakdk" src="{% static 'story3/faus3.png' %}" width="270" height="200">
			</center>
		</div>
	</div>
</div>
{% endblock %}