{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<style>
	table, th, td {
		margin: auto;
		border: 1px solid black;
			padding: 10px;
	}
</style>
<title>Story 1</title>
<h3 style="text-align:center;">Raden Fausta Anugrah Dianparama</h3>
<center>
	<img src="{% static 'story1/TH46.jpg' %}" class="tengah" width="300" height="300">
</center>
<h3 style="text-align:center;">Panggilan : Fausta</h3>
<h3 style="text-align:center;">NPM : 1906285560</h3>
<h3 style="text-align:center;">Angkatan : 2019</h3>
<h3 style="text-align:center;">Kuliah : Universitas Indonesia</h3>
<h3 style="text-align:center;">Hobi : Competitive Programming</h3>
<h3 style="text-align:center">Saya berasal dari Yogyakarta. Saya adalah mahasiswa Ilmu Komputer Fasilkom UI angkatan 2019. Saya diterima melalui jalur Olimpiade</h3>
<h3 style="text-align:center"> Riwayat Pendidikan :</h3>
<table style="text-align: center;">
	<tr> 
		<th> Pendidikan </th>
		<th> Sekolah / Universitas </th>
		<th> Tahun </th>
	</tr> 
	<tr> 
		<td> SD </td>
		<td> SD Negeri Lempuyangwangi </td>
		<td> 2007 - 2013 </td>
	</tr> 
	<tr> 
		<td> SMP </td>
		<td> SMP Negeri 1 Yogyakarta </td>
		<td> 2013 - 2016 </td>
	</tr> 
	<tr> 
		<td> SMA </td>
		<td> SMA Negeri 1 Yogyakarta </td>
		<td> 2016 - 2019 </td>
	</tr> 
	<tr> 
		<td> Universitas </td>
		<td> Universitas Indonesia </td>
		<td> 2019 - Sekarang </td>
	</tr> 
</table>
<br></br>
<center>
	<a href="https://www.instagram.com/faustaadp/"><img src="{% static 'story1/ig.png' %}" style="width:42px;height:42px;"></a>
	<a href="https://twitter.com/FaustaAD"><img src="{% static 'story1/tw.png' %}" style="width:42px;height:42px;"></a>
	<a href="https://www.facebook.com/fausta.ad/"><img src="{% static 'story1/fb.png' %}" style="width:42px;height:42px;"></a>
</center>
{% endblock %}
