{% extends 'main/base.html' %}
<!doctype html>
{% block content %}
{% load static %}
<title>Tambah</title>
<form class = "ml-5 mr-5 mt-2" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="form-group col-10">
			<label for="nama">Mata Kuliah</label> {{form.nama}}
		</div>
		<div class="form-group col">
			<label for="sks">SKS</label> {{form.sks}}
		</div>
	</div>
	<div class="form-group">
		<label for="dosen">Dosen</label> {{form.dosen}}
	</div>
	<div class="row">
		<div class="form-group col-sm">
			<label for="semester">Semester</label> {{form.semester}}
		</div>
		<div class="form-group col-sm">
			<label for="tahun">Tahun</label> {{form.tahun}}
		</div>
		<div class="form-group col-sm">
			<label for="ruang">Ruang</label> {{form.ruang}}
		</div>
	</div>
	<div class="form-group">
		<label for="deskripsi">Deskripsi</label> {{form.deskripsi}}
	</div>
	<center>
		<button type="submit" class="btn btn-primary">Submit</button>
	</center>
</form>
{% endblock %}